@font-face {
    font-family: muktaMalar;
    src: url(./Mukta_Malar/MuktaMalar-Light.ttf);
}

@media (400px <=width <=1000px) {}

nav {
    display: flex;
    flex-direction: row;
}

@media (orientation: portrait) {
    .nav {
        flex-direction: column;
    }

    #form {
        flex-direction: column;
    }

}

body {
    font-family: muktaMalar;
    margin: 0px;
    box-sizing: border-box;
}

p {
    font-size: 20px;
}

nav {
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 112, 94);
    border-bottom-width: 6px;
    background-color: rgb(0, 170, 142);
    padding: 10px 10px 10px 10px;
    display: flex;
}

nav a {
    justify-content: center;
    align-items: center;
    display: flex;
}

#logo {
    padding: 20px;
    width: 50px;
}

a {
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 20px;
}

a:hover {
    color: orange;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 40px;
    padding: 30px 50px 30px 30px;
    display: flex;
    justify-content: center;
}

header h2 {
    font-size: 35px;
    font-weight: bolder;
}

#luigi {
    padding: 40px 60px 40px 40px;
    width: 500px;
}

.info {
    align-items: center;
    align-content: center;
}

.padding {
    padding: 30px 100px 30px 0px;
}

#bestellen {
    padding: 30px;
    width: 200px;
    background-color: darkblue;
    text-align: center;
    color: aliceblue;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 9px;
}

#bestellen:hover {
    color: orange;
    background-color: rgb(0, 0, 226);
}

.uitleg {
    border-top-style: solid;
    border-top-color: rgb(52, 0, 119);
    border-top-style: 5px;
    display: flex;
    padding: 100px 0px;
    align-items: center;
    justify-content: space-around;
}

#omschrijving {
    padding: 50px 0px 50px 80px;
}

#punten {
    background-color: rgb(176, 255, 209);
    padding: 10px 100px 10px 100px;
    border-radius: 20px;
    text-align: left;
}

#form {
    width: 40%;
    background-color: rgb(206, 206, 255);
    padding: 20px;
    margin: 30px;
    border-radius: 15px;
}

.textinput {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input:invalid {
    border: 3px solid rgb(223, 61, 61);
    background-color:rgb(232, 177, 186);
}

input:valid {
    border: 3px solid rgb(68, 141, 68);
    background-color:rgb(195, 234, 195);
}

#product {
    color: aliceblue;
    background-color: rgb(53, 53, 160);
    padding: 50px 0px 20px 0px;
    text-align: center;
}

#product h2 {
    font-size: 35px;
}

#product img {
    border-radius: 50px;
}

.producten {
    display: flex;
    padding: 40px 40px 40px 40px;
    margin: 40px;
    justify-content: space-around;
    align-items: center;
}

.producten div {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
}

.producten p {
    padding: 50px 50px 50px 50px;
}

.product {
    width: 200px;
    padding: 10px 30px 30px 30px;
}

footer {
    background-color: darkblue;
    color: aliceblue;
    padding: 40px 40px 150px 40px;
    justify-content: space-around;
    display: flex;
}

footer a {
    justify-content: space-around;
}